body {
    font-family: Arial, sans-serif;
}

.header-page {
    background-color: #125688;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.column label {
    flex-basis: 100%;
}

.column input,
.column select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.column-btn {
    text-align: center;
}
